<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
</head>

<body>
<div class="flex-container">
    <div class="container">
        <h1>Test Yourself</h1>
		<p class="lead"><strong> Question. </strong> <%= question.text %> </p>
		<br><br>
        <form method="POST" action='/check'>
			<% if (options.length) { %>
				<% options.forEach(function(option){ %>
					<input type="radio" name="options" value="<%= option[0] %>"> <%= option[1] %> <br>
				<% }) %>
			<% } %>
			<p><button>Submit</button></p>
        </form>
		<p> Level: <strong><%= question.level %></strong></p>
    </div>
</div>
</body>